.profile {
	text-align: center;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	/* height: 100vh; */
	/* width: 100%; */
	/* background-color: #0b1116; */
	/* border: 10px solid #3d3e3f; */
}

body>#root>div {
    height: 100vh;
}

.avatar {
    background-color: #3d3e3f;
}