.progressbar {
	height: 10%;
	width: 64%;
	background-color: #e0e0de;
	border-radius: 10%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 6px;
	font-size: small;
}
.labelStyles {
    padding: 5;
    color: 'white';
    font-weight: 'bold';
}