.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  width: 100%;
}

body > #root > div {
  height: 100vh;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.home-background{
  background-color:#57083d;;
}

.App-header {
  background-color:#040d14;;
  min-height: 100px;
  width: 100vh;
}

.App-body {
  background-color: #09193d;
  min-height: 10px;
}


.App-footer {
  background-color: #6a0577;
  min-height: 10px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
