.game-board {
	display: flex;
	text-align: center;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	width: 100%;
	background-color: #0b1116;
	color: white;
}

.board {
	height: 816px;
	width: 826px;
	/* margin: 20px; */
	/* border: 1px solid black; */
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	/* border-style: groove; */
}

.board-houses-1 {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	/* padding-bottom: 50px; */
	align-items: center;
}

.center-board-houses {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	/* height: 100%; */
	/* padding-top: 50px; */
	align-items: center;
}

.board-houses-2 {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	/* padding-top: 50px; */
	align-items: center;
}

.center-path {
	display: flex;
	/* background-color: grey; */
	height: 100%;
	width: 50%;
	/* border: 5px dotted green; */
	/* border-radius: 10vh; */
	justify-content: center;
	align-items: center;
	/* margin: 10px; */
	flex-direction: row;
}

div[disabled] {
	pointer-events: none;
	opacity: 0.4;
}

.waiting_info {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: white;
	animation: shake 0.5s;
	/* When the animation is finished, start again */
	animation-iteration-count: infinite;
}