.game-board {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background-color: #0b1116;
}

.board {
  height: 90%;
  width: 90%;
  margin: 20px;
  border: 5px dotted blue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.path-box {
  height: 50px;
  width: 50px;
  border: 2px dotted orange;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hpath{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  background-color: yellow;
}

.vpath{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  background-color: pink;
}

.house {
  height: 80%;
  width: 40%;
  margin: 10px;
  transition: linear;
  background: hsla(0, 100%, 100%, 0.6);
  background-color: rgba(255, 255, 255, 0.6);
  background-color: rgba(255, 255, 255, 0.6);
  background-color: rgba(255, 255, 255, 0.6);
  background-color: rgba(255, 255, 255, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  border: 10px dotted black;
}

.board-houses-1 {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;
  padding-bottom: 50px;
  align-items: normal;
}

.board-houses-2 {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;
  padding-top: 50px;
  align-items: end;
}

body>#root>div {
  height: 100vh;
  /* width: 100vh; */
}