.game-board {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  width: 100%;
  background-color: #0b1116
}

body>#root>div {
  height: 100vh;
}

