.game-board {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background-color: #0b1116;
}

.board {
  height: 90%;
width: 90%;
margin: 20px;
border: 5px dotted blue;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.house {
  height: 100%;
  width: 100%;
  margin: 10px;
  transition: linear;
  background: hsla(0, 100%, 100%, 0.6);
    background-color: rgba(255, 255, 255, 0.6);
  background-color: rgba(255, 255, 255, 0.6);
  background-color: rgba(255, 255, 255, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  border: 10px dotted black;
}

.board-houses-1 {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;
  padding-bottom: 50px;
}

.board-houses-2 {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;
  padding-top: 50px;
}

body>#root>div {
  height: 100vh;
  /* width: 100vh; */
}