.game-board {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background-color: #0b1116;
}

.board {
	height: 90%;
	width: 90%;
	/* margin: 20px; */
	/* border: 5px dotted blue; */
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.board-houses-1 {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	height: 100%;
	/* padding-bottom: 50px; */
	align-items: center;
}

.center-board-houses {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	/* height: 100%; */
	/* padding-top: 50px; */
	align-items: center;
}

.board-houses-2 {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	height: 100%;
	/* padding-top: 50px; */
	align-items: flex-start;
}

.center-path {
	display: flex;
	background-color: grey;
	height: 100%;
	width: 45%;
	/* border: 5px dotted green; */
	border-radius: 10vh;
	justify-content: center;
	align-items: center;
	/* margin: 10px; */
	flex-direction: row;
}

body>#root>div {
  height: 100vh;
  /* width: 100vh; */
}