.game-board {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  width: 100%;
  background-color: #0b1116
}

.board {
  height: 90%;
  width: 90%;
  margin: 35px;
  border: 15px solid blue;
  display: flex;
  flex-direction: row;
}

.house {
  height: 40%;
  width: 40%;
  /* margin: 10px; */
  transition: linear;
  background: hsla(0, 100%, 100%, 0.6);
  background-color: rgba(255, 255, 255, 0.6);
  background-color: rgba(255, 255, 255, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  border: 10px solid black;
}

body>#root>div {
  height: 100vh;
  /* width: 100vh; */
}