.game-board {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background-color: #0b1116;
}

.board {
	height: 90%;
	width: 90%;
	/* margin: 20px; */
	/* border: 5px dotted blue; */
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.board-houses-1 {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	height: 100%;
	/* padding-bottom: 50px; */
	align-items: center;
}

.center-board-houses {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	/* height: 100%; */
	/* padding-top: 50px; */
	align-items: center;
}

.board-houses-2 {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	height: 100%;
	/* padding-top: 50px; */
	align-items: flex-start;
}

.house {
	height: 95%;
	width: 40%;
	/* margin: 5px; */
	transition: linear;
	background: hsla(0, 100%, 100%, 0.6);
	background-color: rgba(255, 255, 255, 0.6);
	display: flex;
	align-items: center;
	justify-content: center;
	border: 7px dotted black;
	border-radius: 80px;
}

.path-box {
	height: 50px;
	width: 58px;
	border: 2px dotted aliceblue;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.hpath {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-content: center;
	/* background-color: blanchedalmond; */
}

.vpath {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-content: center;
	/* background-color: green; */
}

.horizontal-path-1 {
	/* height: 100%; */
	width: 100%;
	display: flex;
	align-items: end;
	justify-content: flex-start;
	/* border: 5px dotted aqua; */
	flex-direction: column;
	margin: 5px;
	/* background-color: blue; */
}

.horizontal-path-2 {
	/* height: 100%; */
	width: 100%;
	display: flex;
	align-items: start;
	justify-content: flex-end;
	/* border: 5px dotted aqua; */
	flex-direction: column;
	/* background-color: brown; */
}

.center-path {
	display: flex;
	background-color: grey;
	height: 100%;
	width: 45%;
	/* border: 5px dotted green; */
	border-radius: 10vh;
	justify-content: center;
	align-items: center;
	/* margin: 10px; */
	flex-direction: row;
}

.vertical-path-1 {
	height: 100%;
	width: 20%;
	display: flex;
	align-items: end;
	justify-content: center;
	/* border: 5px dotted aqua; */
	flex-direction: row;
	margin: 0 5px 0 5px;
	/* background-color: yellow; */
	/* padding-bottom: 0px; */
}

.vertical-path-2 {
	height: 100%;
	width: 20%;
	display: flex;
	align-items: start;
	justify-content: center;
	/* border: 5px dotted aqua; */
	flex-direction: row;
	margin: 0 5px 0 5px;
	/* background-color: blueviolet; */
}

body>#root>div {
  height: 100vh;
  /* width: 100vh; */
}