.signup {
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: aqua;
}

body>#root>div {
  height: 100vh;
}

.popup{
  position: absolute;
  width: 200px;
  height: 200px;
}

