.Login {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: blueviolet;
  width: 90%;
  height: 90%;
}

input {
  text-align: center;
  height: 50px;
  width: 90%;
  margin: 10px;
}