.home {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  width: 100%;
  background-image: url("/img/forest.jpg");
  background-size: cover;
  /* background-image: linear-gradient(-45deg, yellow 0%, yellow 25%, yellow 51%, #ff357f 100%); */
  /* animation: color 9s infinite linear; */
  background-color: #0b1116;
  animation: homeAnimation 2s linear;
}

@keyframes color {
  0% {
    background: #33CCCC;
  }

  20% {
    background: #33CC36;
  }

  40% {
    background: #B8CC33;
  }

  60% {
    background: #FCCA00;
  }

  80% {
    background: #33CC36;
  }

  100% {
    background: #33CCCC;
  }
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.box {
  height: 200px;
  width: 200px;
  margin: 10px;
  transition: linear;
  background: hsla(0, 100%, 100%, 0.6);
  background-color: rgba(255, 255, 255, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
}

.box :hover {
  background-color: blue;
}

.home-top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.home-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100vh;
  width: 100vh;
  justify-content: center;
  align-items: center;
}

.inactive {
  background-color: #3d3e3f;
}

.active {
  background-color: #160b0e;
}

.home-background {
  /* background-color: #0b1116;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1; */
  display: flex;
  align-items: center;
  margin: 50px;
  justify-content: center;
}

.App-header {
  background-color: #021320;
  min-height: 100px;
  width: 100vh;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App-footer {
  background-color: #6a0577;
  min-height: 10px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


@keyframes homeAnimation {
  0% {
      opacity: 0;
      transform: translateY(-50px);
  }
  100% {
      opacity: 1;
      transform: translateY(0);
  }
}