.App {
  text-align: center;
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-between;
height: 100vh;
width: 100%;
background-color: #0b1116;
}
.avatar{
  background-color: chocolate;
}
body>#root>div {
  height: 100vh;
}

